
    <!--Navbar-->

    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid d-flex justify-content-between">
          <img src="assets/imgs/logoArgP.png" class="p-2" width="7%" height="7%" alt="logo Argentina Programa"/>
          <span class="navbar-brand me-auto p-2">
            #Yo Programo
          </span>
          <span style="color:white;" class="p-2">
            <a href="{{usuarioAMostrar.urlLinkedin}}" style="margin-right: 3px;"><i class="fab fa-linkedin fa-2x animacion"></i></a>
            <a href="{{usuarioAMostrar.urlGithub}}" style="margin-right: 3px;"><i class="fab fa-github-square fa-2x animacion"></i></a>            
          </span>
          <span class="p-2">
            <button *ngIf="!estaLogeado" type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
          </span>
          <span class="p-2">
            <button *ngIf="estaLogeado" type="button" class="btn btn-outline-light" (click)="logout()">Logout</button>
          </span>
        </div>
      </nav>

      <!--Aca va el boton que abre cuando toco login-->

      <div class="modal fade" tabindex="-1" role="dialog" id="loginModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Login</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" #closeBtn>
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Usuario</label>
                  <input email #user="ngModel" name="usuario" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Su usuario es su email" [(ngModel)]="usuario" required>
                  <small id="emailHelp" class="form-text text-muted">Estos datos no son compartidos con nadie más.</small>
                </div>
                <div *ngIf="user.invalid && (user.dirty || user.touched)" class="alert alert-danger">
                  <div *ngIf="user.errors?.['required']">
                    Usuario requerido
                  </div>
                  <div *ngIf="user.errors?.['email']">
                    Debe ser formato email
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Contraseña</label>
                  <div class="input-group">
                    <input #password="ngModel" name="pass" [type]="show ? 'text' : 'password'" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" [(ngModel)]="pass" (keyup.enter)="loginEnviar()" required>
                    <div class="input-group-addon" (click)="mostrarPassword()">
                      <span class="input-group-text" style="padding-bottom: 10px; padding-top: 10px;">
                        <i *ngIf="show" class="fa fa-eye fa-1x"></i>
                        <i *ngIf="!show" class="fa fa-eye-slash fa-1x"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                  <div *ngIf="password.errors?.['required']">
                    Contraseña requerida
                  </div>
                </div>                
                <div class="form-check">
                  <input name="recordame" type="checkbox" class="form-check-input" id="exampleCheck1" [(ngModel)]="recordame">
                  <label class="form-check-label" for="exampleCheck1">Recordarme</label>
                </div>      
                <div *ngIf="mostrarErrorLogin" class="alert alert-danger">
                  <div>
                    Usuario o contraseña incorrecta
                  </div>
                </div>                  
              </form>
            </div>   
            <div class="modal-footer">
              <button type="submit" class="btn btn-dark" (click)="loginEnviar()">Enviar</button>
            </div>         
          </div>
        </div>
      </div>      

    <!--Formulario Seccion-->

    <div class="modal fade" tabindex="-1" role="dialog" id="seccionModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Añadir Seccion</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" #closeSeccionBtn>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="tituloSeccion">Titulo</label>
                <input #tituloSeccion="ngModel" name="usuario" type="text" class="form-control" id="tituloSeccion" placeholder="Ingrese titulo de nueva seccion" [(ngModel)]="seccion.titulo" (keyup.enter)="agregarSeccion()" required>
              </div>
              <div *ngIf="tituloSeccion.invalid && (tituloSeccion.dirty || tituloSeccion.touched)" class="alert alert-danger">
                <div *ngIf="tituloSeccion.errors?.['required']">
                  Titulo requerido
                </div>
              </div>             
            </form>
          </div>   
          <div class="modal-footer">
            <button type="submit" class="btn btn-dark" (click)="agregarSeccion()">Enviar</button>
          </div>         
        </div>
      </div>
    </div>      

    <!--Alerta eliminar seccion-->

    <div class="modal fade" tabindex="-1" role="dialog" id="seccionAEliminarModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Eliminar Seccion</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" #closeEliminarSeccionBtn>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Esta seguro que desea eliminar la seccion {{seccionAEliminar.titulo}}?
          </div>   
          <div class="modal-footer">
            <button class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-dark" (click)="eliminarSeccion()">Aceptar</button>
          </div>         
        </div>
      </div>
    </div>     
    
    <!--Formulario item seccion-->

    <div class="modal fade" tabindex="-1" role="dialog" id="itemSeccionModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Añadir Item de Seccion</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" #closeItemSeccionBtn>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="tituloItemSeccion">Titulo</label>
                <input #tituloItemSeccion="ngModel" name="tituloItemSeccion" type="text" class="form-control" id="tituloItemSeccion" placeholder="Ingrese titulo del nuevo item" [(ngModel)]="itemSeccion.titulo" required>
              </div>
              <div *ngIf="tituloItemSeccion.invalid && (tituloItemSeccion.dirty || tituloItemSeccion.touched)" class="alert alert-danger">
                <div *ngIf="tituloItemSeccion.errors?.['required']">
                  Titulo requerido
                </div>
              </div>  
              <div class="form-group">
                <label for="descripcionItemSeccion">Descripcion</label>
                <input #descripcionItemSeccion="ngModel" name="descripcionItemSeccion" type="text" class="form-control" id="descripcionItemSeccion" placeholder="Ingrese descripcion del nuevo item" [(ngModel)]="itemSeccion.descripcion" (keyup.enter)="agregarItemSeccion()" required>
              </div>
              <div *ngIf="descripcionItemSeccion.invalid && (descripcionItemSeccion.dirty || descripcionItemSeccion.touched)" class="alert alert-danger">
                <div *ngIf="descripcionItemSeccion.errors?.['required']">
                  Descripcion requerida
                </div>
              </div>           
            </form>
          </div>   
          <div class="modal-footer">
            <button type="submit" class="btn btn-dark" (click)="agregarItemSeccion(); itemSeccionEnviado = true;" [disabled]="itemSeccionEnviado">Enviar</button>
          </div>         
        </div>
      </div>
    </div>      

    <!--Aviso eliminar item-->

    <div class="modal fade" tabindex="-1" role="dialog" id="itemAEliminarModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Eliminar Item</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" #closeEliminarItemBtn>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Esta seguro que desea eliminar el item {{itemAEliminar.titulo}} de la seccion {{seccion.titulo}}?
          </div>   
          <div class="modal-footer">
            <button class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-dark" (click)="eliminarItem()">Aceptar</button>
          </div>         
        </div>
      </div>
    </div>     

    <!--Formulario Habilidad-->

    <div class="modal fade" tabindex="-1" role="dialog" id="habilidadModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Añadir Habilidad {{habilidad.tipo}}</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" #closeHabilidadBtn>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="tituloHabilidad">Titulo</label>
                <input #tituloHabilidad="ngModel" name="tituloHabilidad" type="text" class="form-control" id="tituloHabilidad" placeholder="Ingrese titulo de nueva habilidad" [(ngModel)]="habilidad.titulo" required>
              </div>
              <div *ngIf="tituloHabilidad.invalid && (tituloHabilidad.dirty || tituloHabilidad.touched)" class="alert alert-danger">
                <div *ngIf="tituloHabilidad.errors?.['required']">
                  Titulo requerido
                </div>
              </div>    
              <div class="form-group">
                <label for="porcentajeHabilidad">Porcentaje</label>
                <input #porcentajeHabilidad="ngModel" name="porcentajeHabilidad" type="text" class="form-control" id="porcentajeHabilidad" placeholder="Ingrese porcentaje de la habilidad" [(ngModel)]="habilidad.porcentaje" (keyup.enter)="agregarHabilidad()" required>
              </div>
              <div *ngIf="porcentajeHabilidad.invalid && (porcentajeHabilidad.dirty || porcentajeHabilidad.touched)" class="alert alert-danger">
                <div *ngIf="porcentajeHabilidad.errors?.['required']">
                  Porcentaje requerido
                </div>
              </div>            
            </form>
          </div>   
          <div class="modal-footer">
            <button type="submit" class="btn btn-dark" (click)="agregarHabilidad()">Enviar</button>
          </div>         
        </div>
      </div>
    </div>      

    <!--Aviso eliminar Habilidad-->

    <div class="modal fade" tabindex="-1" role="dialog" id="habilidadAEliminarModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Eliminar Habilidad</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" #closeEliminarHabilidadBtn>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Esta seguro que desea eliminar la habilidad {{habilidadAEliminar.titulo}}?
          </div>   
          <div class="modal-footer">
            <button class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-dark" (click)="eliminarHabilidad()">Aceptar</button>
          </div>         
        </div>
      </div>
    </div>     

    <!--Formulario perfil-->

    <div class="modal fade" tabindex="-1" role="dialog" id="perfilModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Editar Perfil</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" #closePerfilBtn>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="presentacion">Presentacion</label>
                <textarea #presentacion="ngModel" name="presentacion" class="form-control" id="presentacion" [(ngModel)]="usuarioAModificar.presentacion" required>
                </textarea>
              </div>
              <div *ngIf="presentacion.invalid && (presentacion.dirty || presentacion.touched)" class="alert alert-danger">
                <div *ngIf="presentacion.errors?.['required']">
                  Presentacion requerida
                </div>
              </div>    
              <div class="form-group">
                <label for="descripcion">Descripcion</label>
                <textarea #descripcion="ngModel" name="descripcion" class="form-control" id="descripcion" [(ngModel)]="usuarioAModificar.descripcion" required>
                </textarea>
              </div>
              <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="alert alert-danger">
                <div *ngIf="descripcion.errors?.['required']">
                  Descripcion requerida
                </div>
              </div> 
              <div class="form-group">
                <label for="fotoPerfil">Foto de perfil</label>
                <input #fotoPerfil="ngModel" name="fotoPerfil" type="file" class="form-control" id="fotoPerfil" [(ngModel)]="usuarioAModificar.foto" accept=".jpg,.png" (change)="convertirImagen($event, 'perfil')" required>
              </div>         
              <div *ngIf="mostrarErrorArchivo" class="alert alert-danger">
                  {{errorArchivo}}
              </div>  
              <div class="form-group">
                <label for="fotoPortada">Foto de portada</label>
                <input #fotoPortada="ngModel" name="fotoPortada" type="file" class="form-control" id="fotoPortada" [(ngModel)]="usuarioAModificar.fotoPortada" accept=".jpg,.png" (change)="convertirImagen($event, 'portada')" required>
              </div>         
              <div *ngIf="mostrarErrorArchivoPortada" class="alert alert-danger">
                  {{errorArchivoPortada}}
              </div>  
              <div class="form-group">
                <label for="urlLinkedin">URL de Linkedin</label>
                <input #urlLinkedin="ngModel" name="urlLinkedin" type="text" class="form-control" id="urlLinkedin" placeholder="Ingrese url de Linkedin" [(ngModel)]="usuarioAModificar.urlLinkedin" required>
              </div>
              <div *ngIf="urlLinkedin.invalid && (urlLinkedin.dirty || urlLinkedin.touched)" class="alert alert-danger">
                <div *ngIf="urlLinkedin.errors?.['required']">
                  URL de Linkedin requerida
                </div>
              </div>    
              <div class="form-group">
                <label for="urlGithub">URL de Github</label>
                <input #urlGithub="ngModel" name="urlGithub" type="text" class="form-control" id="urlGithub" placeholder="Ingrese url de Github" [(ngModel)]="usuarioAModificar.urlGithub" required>
              </div>
              <div *ngIf="urlGithub.invalid && (urlGithub.dirty || urlGithub.touched)" class="alert alert-danger">
                <div *ngIf="urlGithub.errors?.['required']">
                  URL de Github requerida
                </div>
              </div>       
            </form>
          </div>   
          <div class="modal-footer">
            <button type="submit" class="btn btn-dark" (click)="editarUsuario()">Enviar</button>
          </div>         
        </div>
      </div>
    </div>
    
    <!--Primer tarjeta-->

    <div class="row" *ngIf="mostrarPerfil">
      <div class="col-md-12">
        <div class="card border">
          <img [src]="usuarioAMostrar.fotoPortada" width="100" height="300" class="card-img-top" alt="foto portada">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <h3 class="card-title fw-bold text-decoration-underline">María Eugenia Alonso</h3>
                <img [src]="usuarioAMostrar.foto"  width="100" height="100" class="rounded-circle" alt="foto perfil">
              </div>         
              <div class="col-md-4">
                <p class="card-text" style="text-align:center; white-space: pre-wrap !important;">{{usuarioAMostrar.presentacion}}</p>
              </div>
              <div class="col-md-4" *ngIf="estaLogeado">
                <div class="row" style="margin-bottom: 1%;"><div class="col-md-12"><i class="fas fa-user-edit ms-auto float-end" style="cursor: pointer;" title="Editar perfil" data-bs-toggle="modal" data-bs-target="#perfilModal" (click)="abrirFormularioPerfil()"></i></div></div>
                <div class="row"style="margin-bottom: 1%;"><div class="col-md-12"><button type="button" class="btn btn-outline-dark btn-sm float-end"  data-bs-toggle="modal" data-bs-target="#seccionModal">Añadir Sección</button></div></div>
              </div> 
            </div>                
          </div>
        </div>
      </div>
    </div>

    <!--Acerca card-->

    <div class="row mt-2" *ngIf="mostrarDescripcion">
      <div class="col-md-12">
        <div class="card border-dark mb-3">
          <div class="card-header d-flex">
            Sobre mi
          </div>
          <div class="card-body text-dark">
            <p class="card-text">{{usuarioAMostrar.descripcion}}</p>
          </div>
        </div>
      </div>
    </div>

     <!--Trabajo y experiencia card-->
      <div class="row mb-2">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="row" *ngFor="let seccion of secciones">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6">
                      <h3 class="card-title fw-bold">{{seccion.titulo}}</h3>
                    </div>
                    <div class="col-md-6">
                      <i style="cursor: pointer" class="fas fa-plus float-end ps-2" *ngIf="estaLogeado" (click)="abrirFormularioItemSeccion(seccion)" data-bs-toggle="modal" data-bs-target="#itemSeccionModal"></i>
                      <i class="fas fa-trash float-end ps-2" style="color:#941616;cursor: pointer" *ngIf="estaLogeado" data-bs-toggle="modal" data-bs-target="#seccionAEliminarModal" (click)="avisoEliminarSeccion(seccion)"></i>
                      <i style="cursor: pointer" class="fas fa-user-edit float-end ps-2" *ngIf="estaLogeado" data-bs-toggle="modal" data-bs-target="#seccionModal" (click)="abrirEdicionSeccion(seccion)"></i>
                    </div>
                  </div>
                  <div class="row" *ngFor="let itemSeccion of seccion.items">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-12">
                          <span class="card-text fst-italic text-decoration-underline">{{itemSeccion.titulo}}</span>
                          <i class="fas fa-trash float-end ps-2" style="color:#941616;cursor: pointer" *ngIf="estaLogeado" (click)="avisoEliminarItemSeccion(seccion, itemSeccion)" data-bs-toggle="modal" data-bs-target="#itemAEliminarModal"></i>
                          <i class="fas fa-user-edit float-end" style="cursor: pointer;" *ngIf="estaLogeado" (click)="abrirFormularioEditarSeccion(seccion, itemSeccion)" data-bs-toggle="modal" data-bs-target="#itemSeccionModal"></i>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <h6 class="card-subtitle mb-2 text-muted fs-6">{{itemSeccion.descripcion}}</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Carrusel con skills-->
      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" *ngIf="mostrarHabilidades">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img src="./assets/imgs/fondoCarrusel.jpg" class="d-block w-100" alt="fondo Carrusel">
              <div class="carousel-caption d-none d-md-block">
                <div class="container">
                  <h2>
                    Hard Skills
                    <i title="Agregar skill" style="cursor: pointer" class="fas fa-plus ps-2" (click)="abrirFormularioHabilidad('Hard')" data-bs-toggle="modal" data-bs-target="#habilidadModal" *ngIf="estaLogeado && habilidadesHard.length < 3"></i>
                  </h2>
                  <div class="row text-center">                      
                    <div class="col-sm-4" *ngFor="let habilidadHard of habilidadesHard">
                        <div class="progressbar">
                            <div class="second circle" attr.data-percent="{{habilidadHard.porcentaje}}">
                              <strong></strong>
                              <span>
                                {{habilidadHard.titulo}}
                                <i style="cursor: pointer" class="fas fa-user-edit ps-2" data-bs-toggle="modal" data-bs-target="#habilidadModal" (click)="abrirEdicionHabilidad(habilidadHard)" *ngIf="estaLogeado"></i>
                                <i class="fas fa-trash ps-2" style="color:#941616;cursor: pointer" data-bs-toggle="modal" data-bs-target="#habilidadAEliminarModal" (click)="avisoEliminarHabilidad(habilidadHard)" *ngIf="estaLogeado"></i>
                              </span>
                            </div>
                        </div>
                    </div>           
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="./assets/imgs/fondoCarrusel.jpg" class="d-block w-100" alt="fondo Carrusel">
              <div class="carousel-caption d-none d-md-block">
                <div class="container">
                  <h2>
                    Soft Skills
                    <i title="Agregar skill" style="cursor: pointer" class="fas fa-plus ps-2" (click)="abrirFormularioHabilidad('Soft')" data-bs-toggle="modal" data-bs-target="#habilidadModal" *ngIf="estaLogeado && habilidadesSoft.length < 3"></i>
                  </h2>
                <div class="row text-center">                       
                  <div class="col-sm-4" *ngFor="let habilidadSoft of habilidadesSoft">
                    <div class="progressbar">
                        <div class="second circle" attr.data-percent="{{habilidadSoft.porcentaje}}">
                          <strong></strong>
                          <span>
                            {{habilidadSoft.titulo}}
                            <i style="cursor: pointer" class="fas fa-user-edit ps-2" data-bs-toggle="modal" data-bs-target="#habilidadModal" (click)="abrirEdicionHabilidad(habilidadSoft)" *ngIf="estaLogeado"></i>
                            <i class="fas fa-trash ps-2" style="color:#941616;cursor: pointer" data-bs-toggle="modal" data-bs-target="#habilidadAEliminarModal" (click)="avisoEliminarHabilidad(habilidadSoft)" *ngIf="estaLogeado"></i>
                          </span>
                        </div>
                    </div>
                  </div>    
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>